// --------------------------------------------------------------------- //
// Container elements or classes
// --------------------------------------------------------------------- //

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.section {
    li {
        list-style-type: none;
    }
}

.content-image {
    display: inline-block;
}


// --------------------------------------------------------------------- //
// --------------------------------------------------------------------- //