// --------------------------------------------------------------------- //
// Colors, font-sizes, paddings or margins, etc
// --------------------------------------------------------------------- //

$color-primary: #fff;
$font-color-primary: #000;

$footer-background: gray;
$footer-background-lighten: lighten($footer-background, 40%);


// --------------------------------------------------------------------- //
// --------------------------------------------------------------------- //